/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.card__icon-button .like-icon {
    .core {
        fill: transparent;
    }

    .main-body {
        fill: transparent;
    }

    .contour {
        fill: var(--accent-colour, black);
    }

    .sparks {
        fill: var(--heart-icon-colour, red);
        opacity: 0;
    }
}


.like-icon.is-liked {

    .core {
        fill: var(--heart-icon-colour, red);
        transition: fill 0.1s ease;
    }

    .main-body {
        fill: var(--heart-icon-colour, red);
        transition: fill 0.1s 0.1s ease;
    }

    .contour {
        fill: var(--heart-icon-colour, red);
        transition: fill 0.1s 0.2s ease;
    }

    .full-heart {
        transform-origin: center;
        animation: heartScaleAnimation 0.3s 0.1s ease-in;
    }

    .sparks {
        animation: sparkAnimation 0.3s 0.3s ease-in;
    }
}

@keyframes heartScaleAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes sparkAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

svg {
    .contour {
        transition: fill 0.1s ease;
    }
}


.card__icon-button:hover .like-icon {
    .core {
        transition: fill 0.05s ease;
        fill: var(--accent-colour, black);
    }

    .main-body {
        transition: fill 0.05s 0.05s ease;
        fill: var(--accent-colour, black);
    }

    .contour {
        transition: fill 0.05s 0.1s ease;
        fill: var(--accent-colour, black);
    }
}

.card__icon-button:hover .like-icon.is-liked {

    .core,
    .main-body,
    .contour {
        fill: var(--heart-icon-colour, red);
    }
}

.card__icon-button:active .like-icon {

    .core,
    .main-body {
        fill: var(--heart-icon-colour, red);
    }
}