/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-colour, #fff);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font, monospace);
}

.bg-gradient {
  background-image: var(--bg-gradient);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  min-height: 326px;
  margin: 102px auto 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-colour, #fff);
  background-position: center;
  border: 2px solid var(--accent-colour, #000);
}

@media screen and (width >=696px) {
  .header {
    max-width: 696px;
    min-height: 366px;
  }
}

.header__logo {
  margin-block-start: 101px;
  font-family: var(--main-font, monospace);
  color: var(--accent-colour, #000);
  font-size: var(--logo-font-size, 49px);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (width >=696px) {
  .header__logo {
    margin-block-start: 116px;
    font-size: var(--logo-font-size, 65px);
  }
}

.header__title {
  font-family: var(--main-font, monospace);
  color: var(--accent-colour, #000);
  font-size: var(--title-font-size, 14px);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}



.header__theme-menu {
  display: block;
}

.theme-menu__list {
  margin-block-start: 5px;
  margin-left: 21px;
  list-style-type: none;
  text-align: center;
  color: var(--accent-colour, #000);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.theme-menu__button {
  border: none;
  background: transparent;
  text-decoration: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:active {
  border: none;
  background: transparent;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-colour);
  transition: width 0.5s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  position: relative;
}

.button-wrapper::before {
  content: "▶";
  position: absolute;
  top: 0px;
  left: 0px;
  animation: heartbeat 1.5s infinite;
}

@keyframes heartbeat {
  0% {
    left: -13px;
  }

  50% {
    left: -10px;
  }

  100% {
    left: -13px;
  }
}

.main {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.section__cards_list {
  margin-block-start: 101px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--background-colour, #fff);
  border: 2px solid var(--accent-colour, #000);
  display: flex;
  flex-direction: column;
  max-width: 696px;
}

.card__header {
  width: 100%;
  padding: 5px 10px;
  background-color: var(--background-colour, #fff);
  font-family: var(--variable-font, monospace);
  font-variation-settings: 'wght' var(--font-variable-wght-header, 700);
  font-size: 18px;
  line-height: normal;
  color: var(--accent-colour, #000);
}

@media screen and (width >=696px) {
  .card__header {
    padding: 5px 7px;
  }
}

figure {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.card__image-container {
  position: relative;
}

.card__image {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (width >=696px) {
  .card__image {
    height: 696px;
  }
}

.image-logo {
  position: absolute;
  height: 14px;
  width: 100%;
  right: 11px;
  top: 25px;
  left: auto;
  font-family: var(--main-font, monospace);
  color: var(--accent-colour, #000);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--background-colour, #fff),
    0 1px var(--background-colour, #fff),
    1px 0 var(--background-colour, #fff),
    0 -1px var(--background-colour, #fff);
}

@supports((text-stroke: 1px var(--background-colour, #fff)) or (-webkit-text-stroke: 1px var(--background-colour, #fff))) {
  .image-logo {
    -webkit-text-stroke: 1px var(--background-colour, #fff);
    text-stroke: 1px var(--background-colour, #fff);
    text-shadow: none;
  }
}

.card__description {
  width: 100%;
  padding: 27px 26.95px 26px 25px;
  background-color: var(--background-colour, #fff);
  font-family: var(--variable-font, monospace);
  font-variation-settings: 'wght' var(--font-variable-wght-text, 400);
  font-size: 18px;
  line-height: 21px;
  /* 116.667% */
  color: var(--accent-colour, #000);
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media screen and (width >=696px) {
  .card__description {
    padding: 28px 23px 25px 23px;
  }
}

.card__controls {
  display: flex;
  margin: 0px 25px 25px;
  align-items: center;
  justify-content: flex-end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
  text-decoration: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-colour, #000);
  outline-offset: -2px;
}

.card__like-button {
  border: 2px solid var(--accent-colour, #000);
  background-color: transparent;
  padding: 6px 17px;
  height: 38px;
  width: 130px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.card__like-button:focus {
  outline: none;
  text-decoration: none;
}

.card__like-button:focus-visible {
  box-shadow: var(--accent-colour, #000) 2px 2px;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-colour, black);
  transition: left 0.5s ease-in-out;
}

.card__like-button:hover::before {
  left: 0;
}

.button__text {
  position: relative;
  font-family: var(--main-font, monospace);
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  text-transform: capitalize;
  color: var(--accent-colour, #000);
  transition: color 0.5s ease-in-out;
}

.card__like-button:hover {
  .button__text {
    color: var(--like-text-colour-hover, white);
  }
}

.bottom__save-button {
  margin: 49px 33.5px 100px;
  padding: 15px 20px;
  border: 2px solid var(--accent-colour, #000);
  background-color: var(--background-colour, #fff);
  color: var(--accent-colour, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

@media screen and (width > 375px) {
  .bottom__save-button {
    flex-direction: row;
    padding: 17px 19px 13px 15px;
    gap: 10px;
  }
}

.bottom__save-button:focus {
  outline: none;
  text-decoration: none;
}

.bottom__save-button:focus-visible {
  box-shadow: var(--accent-colour, #000) 2px 2px;
}

.bottom__save-button .floppy_icon {
  height: 21px;
  width: 21px;
  fill: var(--accent-colour, #000);
  transition: fill 0.5s ease-in-out;
  position: relative;
}

@media screen and (width <= 375px) {
  .bottom__save-button .floppy_icon {
    height: 28px;
    width: 30px;
  }
}

.bottom__save-button_text {
  text-wrap: nowrap;
  font-family: var(--main-font, monospace);
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  /* 12.6px */
  color: var(--accent-colour, #000);
  transition: color 0.5s ease-in-out;
  position: relative;
}

.bottom__save-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--accent-colour, black);
  transition: left 0.5s ease-in-out;
}

.bottom__save-button:hover::before {
  left: 0;
}

.bottom__save-button:hover {
  .bottom__save-button_text {
    color: var(--like-text-colour-hover, white);
  }

  .floppy_icon {
    fill: var(--like-text-colour-hover, white);
  }

}

.modal-window {
  max-width: 355px;
  height: 195px;
  padding: 32px 42px;
  background-color: var(--background-colour, #fff);
  border: 2px solid var(--accent-colour, #000);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (width <=375px) {
  .modal-window {
    height: 192px;
  }
}

.modal-window__title {
  padding: 0px 40px 10px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (width <=375px) {
  .modal-window__title {
    padding: 9px 0px;
  }
}

.modal-window__title .floppy_icon {
  width: 96px;
  height: 39px;
  fill: var(--accent-colour, #000);
}

.modal-window__header {
  color: var(--accent-colour, #000);
  font-family: var(--main-font, monospace);
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 150%;
}

.modal-window__button {
  padding: 9px 130px;
  border: 2px solid var(--accent-colour, #000);
  background-color: var(--background-colour, #fff);
  color: var(--accent-colour, #000);
  cursor: pointer;
}

@media screen and (width <=375px) {
  .modal-window__button {
    padding: 9px 113px;
  }
}

.modal-window__button_text {
  color: var(--accent-colour, #000);
  font-family: var(--main-font, monospace);
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 90%;
}

.bottom__dialog {
  padding: 0px;
}

.bottom__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.filter-brightness {
  filter: brightness(100%);
}

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-sepia {
  filter: sepia(50%)
}

.filter-blur {
  filter: blur(7px);
}

.filter-saturation {
  filter: saturate(50%);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(1);
}

.filter-multi {
  filter: brightness(200%) saturate(200%) hue-rotate(3deg);
}